body {
  background-color: #5f5f5f;
}

p {
  text-decoration: rgb(13, 219, 40) overline wavy 2px;
  text-transform: capitalize;
  text-transform: none;
  text-transform: uppercase;
  text-transform: lowercase;
}