body {
  background: #5f5f5f;
}
p {

  text-shadow: 
  1px 0 white, -1px 0 white, 0 1px white, 0 -1px white, 
  1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white, 

  2px 0 plum, -2px 0 plum, 0 2px plum, 0 -2px plum,
  2px 1px plum, -2px 1px plum, 1px 2px plum, 1px -2px plum,
  2px -1px plum, -2px -1px plum, -1px 2px plum, -1px -2px plum,
  2px 2px plum, 2px -2px plum, -2px 2px plum, -2px -2px plum;
}
/* 아무튼 이중으로 그림자를 그릴 수 있음 */