body {
  background: #5f5f5f;
}

html {
  font-size: 12px;
}
p {
  text-align: justify;
  line-height: 2em;
  letter-spacing: 7px;
  word-spacing: 1.5em;
  text-indent: 1.5em;
  text-indent: -1.5em;
}