body{
  background: #5f5f5f;
}

.outer{
  width: 400px;
  height: 400px;
  background: blueviolet;
}

div{
  width: 24%;
  height: 24%;
  background: red;
}

.inner1{
  position: relative;
  top: 5%;
  left: 5%;
}
.inner2{
  position: relative;
  top: -19%;
  left: 35%;
}
.inner3{
  position: relative;
  top: -43%;
  left: 65%;
}
.inner4{
  position: relative;
  top: -35%;
  left: 5%;
}
.inner5{
  position: relative;
  top: -59%;
  left: 35%;
}
.inner6{
  position: relative;
  top: -83%;
  left: 65%;
}
.inner7{
  position: relative;
  top: -76%;
  left: 5%;
}
.inner8{
  position: relative;
  top: -100%;
  left: 35%;
}
.inner9{
  position: relative;
  top: -124%;
  left: 65%;
}
.ahffk{
  position: relative;
  background-color: blue;
  top: -179%;
  left: 35%;
}
.ahffk2{
  position: relative;
  background: yellowgreen;
  width: 33%;
  height: 33%;
}
