body{
  background: #5f5f5f;
}
.outer{
  width:640px;
  height: 640px;
  border: 2px solid lightgray;
}

.outer> div{
  width:200px;
  height: 200px;
  background-color: gray;
  /* display쓰면 span 태그처럼 쓸 수 있음 */
  display: inline-block; 
  margin-left:7px;
  margin-top:7px;
}

div.yellow{
  background-color: orange;
}
div.red{
  width:66px;
  height: 66px;
  background-color: red;
}