body {
  background-color: #5f5f5f;
  /* text-align: center; */
}

div {
  /* inline-block은 width / height 지정이 가능한 block 성격을 가짐 하지만 margin: auto로 가로 중앙 정렬은 되지 않음 이는 정렬 방식은 inline 요소의 성격을 따르기 때문임 */
  display: inline-block;
  background-color: orangered;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-top: 8px solid black;
  border-bottom: 0.5em dashed #ccc;
  border-right: 1.5vw dotted #5f5f5f;
  border-left: 0.5vh solid palegoldenrod;
}

p {
  text-align: end;
}