/* 모든 요소 선택 */
body {
  background: #5f5f5f;
}

* {
  font-weight: bold;
  color:darkorange;
}

* {
  color:plum;
}

p {
  color: olive;
}

.blue {
  color: lightblue;
}

p.blue {
  color: slateblue;
}

.blue.dark {
  color: blue;
}

p.blue.dark {
  color: darkblue;
}

/* id 선택자 */
#red {
  color: tomato;
}