body {
  background-color: #5f5f5f;
}

/* 클래스 선택자의 하위 li 태그 */
.outer li{
  color:olivedrab;
}

/* 자식 결합자 */
.outer > li{
  color:dodgerblue;
}

.outer > li > ul > li{
  text-decoration: underline;
}

/* .outer > li > ul {
  text-decoration: underline;
} */
/* .outer > li > ul > li와.outer > li > ul의 결과값은 다름 */

/* 동생 결합자 */
.starter ~ li{
  font-style:italic;
}

/* 동생 결합자2 */
.starter + li{
  font-weight: bold;
}

/* 가상 클래스 */
ol li:first-child, ol li:last-child {
  color:yellowgreen;
}
/* ~가 아닌 요소 가상 클래스 */
.outer > li:not(:last-child) {
  text-decoration: line-through;
}

ul:not(.outer) li {
  font-weight: bold;
}

/* ~번 째 요소 가상 클래스 */
ol li:nth-child(4) {
  font-weight: bold;
  color:deeppink;
}

/* 마우스 오버 가상 클래스 */
li:hover{
  font-weight: bold;
  color:blue;
}