.card{
  /* ... */
}
.card .thumb{
  /* ... */
}
.card .thumb .image{
  /* ... */
}
.card .body .title{
  /* ... */
}
.card .body .list{
  /* ... */
}
.card .body .list .list-item{
  /* ... */
}
.card .body .list .list-iem .special{
  /* ... */
}