.card{
  /* ... */
}
.card__thumb{
  /* ... */
}
.card__image{
  /* ... */
}
.card__body{
  /* ... */
}
.card__title{
  /* ... */
}
.card__list{
  /* ... */
}
.card__list-item{
  /* ... */
}
.card__list--special{
  /* ... */
}